# Ignore the virtual environment
venv/
env/

# Ignore local database (Start fresh or use volume)
*.db
*.sqlite3

# Ignore Git history
.git/
.gitignore

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VS Code settings
.vscode/

# Ignore PDF reports generated locally
*.pdf